In [7]:
import pandas as pd
import sqlite3
from data_packers import NFL_Data_Packer
from dbmanager import SqliteDBManager
import json

nfl_data_packer = NFL_Data_Packer()
manager = SqliteDBManager("SportsData.db")

In [41]:
# Disable the SettingWithCopyWarning
pd.options.mode.chained_assignment = None

In [2]:
nfl_data_packer.pack_game_outcomes_data()

Arizona Cardinals has no game updates since 2024-11-18 00:00:00
Atlanta Falcons has no game updates since 2024-11-18 00:00:00
Baltimore Ravens has no game updates since 2024-11-18 00:00:00
Buffalo Bills has no game updates since 2024-11-18 00:00:00
Carolina Panthers added 1 games since 2024-11-18 00:00:00.
Chicago Bears added 1 games since 2024-11-18 00:00:00.
Cincinnati Bengals has no game updates since 2024-11-18 00:00:00
Cleveland Browns added 1 games since 2024-11-18 00:00:00.
Dallas Cowboys added 1 games since 2024-11-18 00:00:00.
Denver Broncos has no game updates since 2024-11-18 00:00:00
Detroit Lions has no game updates since 2024-11-18 00:00:00
Green Bay Packers added 1 games since 2024-11-18 00:00:00.
Houston Texans added 1 games since 2024-11-18 00:00:00.
Indianapolis Colts added 1 games since 2024-11-18 00:00:00.
Jacksonville Jaguars has no game updates since 2024-11-18 00:00:00
Kansas City Chiefs has no game updates since 2024-11-18 00:00:00
Miami Dolphins added 1 games since 2024-11-18 00:00:00.
Las Vegas Raiders added 1 games since 2024-11-18 00:00:00.
Los Angeles Chargers has no game updates since 2024-11-18 00:00:00
Los Angeles Rams added 1 games since 2024-11-18 00:00:00.
Minnesota Vikings has no game updates since 2024-11-18 00:00:00
New England Patriots has no game updates since 2024-11-18 00:00:00
New Orleans Saints has no game updates since 2024-11-18 00:00:00
New York Giants added 1 games since 2024-11-18 00:00:00.
New York Jets has no game updates since 2024-11-18 00:00:00
Philadelphia Eagles has no game updates since 2024-11-18 00:00:00
Pittsburgh Steelers has no game updates since 2024-11-18 00:00:00
San Francisco 49ers has no game updates since 2024-11-18 00:00:00
Seattle Seahawks added 1 games since 2024-11-18 00:00:00.
Tampa Bay Buccaneers has no game updates since 2024-11-18 00:00:00
Tennessee Titans has no game updates since 2024-11-18 00:00:00
Washington Commanders added 1 games since 2024-11-18 00:00:00.

c:\Users\taylor.mccoy\OneDrive\Documents\Coding\Sports_Data_Project\data_packers.py:656: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (

TypeError: records must be a non-empty list

In [7]:
nfl_data_packer.all_games_data['Carolina Panthers']

,Date,Opponent,Result,Location,W/L,Div,Points,Opp Points,Actual Spread,Total Points,League Serial,home_serial,away_serial
10,2024-11-24 00:00:00,Kansas City Chiefs,L,Home,3-8,1-2,27,30,3,57,1,5,16

In [36]:
def get_day(date: str) -> str:
    return date[:(len(date) - 9)]

def get_time(time: str) -> str:
    return time[(len(time) - 9):]

In [37]:
import copy
# Create a copy of the retrieved all games data dict
game_outcomes_table_data = copy.deepcopy(nfl_data_packer.all_games_data)

In [69]:
nfl_data_packer.manager.dataframe_query("""select
                                        G.SERIAL,
                                        HOME_TEAM.TEAM_NAME,
                                        AWAY_TEAM.TEAM_NAME,
                                        G.GAME_DATE,
                                        G.LEAGUE_SERIAL 
                                        from 
                                        GAMES AS G JOIN TEAMS AS HOME_TEAM ON HOME_TEAM.SERIAL = G.HOME_TEAM_SERIAL
                                        JOIN TEAMS AS AWAY_TEAM ON AWAY_TEAM.SERIAL = G.AWAY_TEAM_SERIAL
                                        ORDER BY GAME_DATE DESC""").head(30)

,SERIAL,TEAM_NAME,TEAM_NAME,GAME_DATE,LEAGUE_SERIAL
0,191,Denver Broncos,Cleveland Browns,2024-12-02 20:16:00,1
1,190,Denver Broncos,Cleveland Browns,2024-12-02 19:15:00,1
2,189,Buffalo Bills,San Francisco 49ers,2024-12-01 20:20:00,1
3,188,Baltimore Ravens,Philadelphia Eagles,2024-12-01 16:25:00,1
4,186,Carolina Panthers,Tampa Bay Buccaneers,2024-12-01 16:05:00,1
5,187,New Orleans Saints,Los Angeles Rams,2024-12-01 16:05:00,1
6,179,Minnesota Vikings,Arizona Cardinals,2024-12-01 13:00:00,1
7,180,Atlanta Falcons,Los Angeles Chargers,2024-12-01 13:00:00,1
8,181,Cincinnati Bengals,Pittsburgh Steelers,2024-12-01 13:00:00,1
9,182,Jacksonville Jaguars,Houston Texans,2024-12-01 13:00:00,1
10,183,New England Patriots,Indianapolis Colts,2024-12-01 13:00:00,1
11,184,New York Jets,Seattle Seahawks,2024-12-01 13:00:00,1
12,185,Washington Commanders,Tennessee Titans,2024-12-01 13:00:00,1
13,178,Kansas City Chiefs,Las Vegas Raiders,2024-11-29 15:00:00,1
14,177,Green Bay Packers,Miami Dolphins,2024-11-28 20:20:00,1
15,176,Dallas Cowboys,New York Giants,2024-11-28 16:30:00,1
16,175,Detroit Lions,Chicago Bears,2024-11-28 12:30:00,1
17,174,Los Angeles Chargers,Baltimore Ravens,2024-11-25 20:15:00,1
18,173,Los Angeles Rams,Philadelphia Eagles,2024-11-24 20:20:00,1
19,171,Seattle Seahawks,Arizona Cardinals,2024-11-24 16:25:00,1
20,172,Green Bay Packers,San Francisco 49ers,2024-11-24 16:25:00,1
21,170,Las Vegas Raiders,Denver Broncos,2024-11-24 16:05:00,1
22,163,Carolina Panthers,Kansas City Chiefs,2024-11-24 13:00:00,1
23,164,Chicago Bears,Minnesota Vikings,2024-11-24 13:00:00,1
24,165,Washington Commanders,Dallas Cowboys,2024-11-24 13:00:00,1
25,166,Indianapolis Colts,Detroit Lions,2024-11-24 13:00:00,1
26,167,Houston Texans,Tennessee Titans,2024-11-24 13:00:00,1
27,168,Miami Dolphins,New England Patriots,2024-11-24 13:00:00,1
28,169,New York Giants,Tampa Bay Buccaneers,2024-11-24 13:00:00,1
29,162,Cleveland Browns,Pittsburgh Steelers,2024-11-21 20:15:00,1

In [58]:
# Call all current game data in the db
games_df = nfl_data_packer.manager.dataframe_query("""select * from GAMES""")
games_df["Day"] = games_df['GAME_DATE'].apply(get_day)
games_df["Time"] = games_df['GAME_DATE'].apply(get_time)
games_df['UID'] = games_df['UID'] = (
    games_df['HOME_TEAM_SERIAL'].astype(str) + ' ' +
    games_df['AWAY_TEAM_SERIAL'].astype(str) + ' ' +
    games_df['Day'].astype(str)
)


games_df.sort_values(by='GAME_DATE', ascending=False).head(30)

,SERIAL,HOME_TEAM_SERIAL,AWAY_TEAM_SERIAL,GAME_DATE,LEAGUE_SERIAL,Day,Time,UID
190,191,10,8,2024-12-02 20:16:00,1,2024-12-02,20:16:00,10 8 2024-12-02
189,190,10,8,2024-12-02 19:15:00,1,2024-12-02,19:15:00,10 8 2024-12-02
188,189,4,28,2024-12-01 20:20:00,1,2024-12-01,20:20:00,4 28 2024-12-01
187,188,3,26,2024-12-01 16:25:00,1,2024-12-01,16:25:00,3 26 2024-12-01
186,187,23,20,2024-12-01 16:05:00,1,2024-12-01,16:05:00,23 20 2024-12-01
185,186,5,30,2024-12-01 16:05:00,1,2024-12-01,16:05:00,5 30 2024-12-01
182,183,22,14,2024-12-01 13:00:00,1,2024-12-01,13:00:00,22 14 2024-12-01
178,179,21,1,2024-12-01 13:00:00,1,2024-12-01,13:00:00,21 1 2024-12-01
180,181,7,27,2024-12-01 13:00:00,1,2024-12-01,13:00:00,7 27 2024-12-01
181,182,15,13,2024-12-01 13:00:00,1,2024-12-01,13:00:00,15 13 2024-12-01
179,180,2,19,2024-12-01 13:00:00,1,2024-12-01,13:00:00,2 19 2024-12-01
183,184,25,29,2024-12-01 13:00:00,1,2024-12-01,13:00:00,25 29 2024-12-01
184,185,32,31,2024-12-01 13:00:00,1,2024-12-01,13:00:00,32 31 2024-12-01
177,178,16,18,2024-11-29 15:00:00,1,2024-11-29,15:00:00,16 18 2024-11-29
176,177,12,17,2024-11-28 20:20:00,1,2024-11-28,20:20:00,12 17 2024-11-28
175,176,9,24,2024-11-28 16:30:00,1,2024-11-28,16:30:00,9 24 2024-11-28
174,175,11,6,2024-11-28 12:30:00,1,2024-11-28,12:30:00,11 6 2024-11-28
173,174,19,3,2024-11-25 20:15:00,1,2024-11-25,20:15:00,19 3 2024-11-25
172,173,20,26,2024-11-24 20:20:00,1,2024-11-24,20:20:00,20 26 2024-11-24
171,172,12,28,2024-11-24 16:25:00,1,2024-11-24,16:25:00,12 28 2024-11-24
170,171,29,1,2024-11-24 16:25:00,1,2024-11-24,16:25:00,29 1 2024-11-24
169,170,18,10,2024-11-24 16:05:00,1,2024-11-24,16:05:00,18 10 2024-11-24
162,163,5,16,2024-11-24 13:00:00,1,2024-11-24,13:00:00,5 16 2024-11-24
166,167,13,31,2024-11-24 13:00:00,1,2024-11-24,13:00:00,13 31 2024-11-24
164,165,32,9,2024-11-24 13:00:00,1,2024-11-24,13:00:00,32 9 2024-11-24
165,166,14,11,2024-11-24 13:00:00,1,2024-11-24,13:00:00,14 11 2024-11-24
163,164,6,21,2024-11-24 13:00:00,1,2024-11-24,13:00:00,6 21 2024-11-24
167,168,17,22,2024-11-24 13:00:00,1,2024-11-24,13:00:00,17 22 2024-11-24
168,169,24,30,2024-11-24 13:00:00,1,2024-11-24,13:00:00,24 30 2024-11-24
161,162,8,27,2024-11-21 20:15:00,1,2024-11-21,20:15:00,8 27 2024-11-21

In [70]:
manager.dataframe_query('select * from teams').to_csv('team_names_to_fix.csv')

In [4]:
serials = """17
18
19
20
22
23
24
25""".split("\n")

serials = [int(val) for val in serials]

current = """LA Chargers
LA Rams
Las Vegas
Miami
NY Giants
NY Jets
New England
New Orleans""".split("\n")

change_to = """Miami
Las Vegas
LA Chargers
LA Rams
New England
New Orleans
NY Giants
NY Jets""".split("\n")
fix_names_ref = {cname:newname for cname, newname in zip(current, change_to)}
newname_serials_ref = {newname:serial for serial, newname in zip(serials, change_to)}
current_serials_ref = {cname:serial for serial, cname in zip(serials, current)}


current_serials_ref

#finish fixing this, then we need to go to the games table and fix any reference that belongs to these teams that were pulled from the teamrankings site.
# build a dict for serial ref for that task
# Then we need to figure out how the same game with two times got pulled and put logic to fix that.

{'LA Chargers': 17,
 'LA Rams': 18,
 'Las Vegas': 19,
 'Miami': 20,
 'NY Giants': 22,
 'NY Jets': 23,
 'New England': 24,
 'New Orleans': 25}

In [37]:
fix_names_ref

{'LA Chargers': 'Miami',
 'LA Rams': 'Las Vegas',
 'Las Vegas': 'LA Chargers',
 'Miami': 'LA Rams',
 'NY Giants': 'New England',
 'NY Jets': 'New Orleans',
 'New England': 'NY Giants',
 'New Orleans': 'NY Jets'}

In [46]:
newname_serials_ref

{'Miami': 17,
 'Las Vegas': 18,
 'LA Chargers': 19,
 'LA Rams': 20,
 'New England': 22,
 'New Orleans': 23,
 'NY Giants': 24,
 'NY Jets': 25}

In [52]:
change_names_df = pd.DataFrame({'serial':serials,'current_name': current,'new_name':change_to}) #FOR USE ON TEAMS TABLE
change_names_df

   serial current_name     new_name
0      17  LA Chargers        Miami
1      18      LA Rams    Las Vegas
2      19    Las Vegas  LA Chargers
3      20        Miami      LA Rams
4      22    NY Giants  New England
5      23      NY Jets  New Orleans
6      24  New England    NY Giants
7      25  New Orleans      NY Jets

In [54]:
for idx, serial, current_name, new_name in change_names_df.itertuples():
    manager.update_table_records('TEAMS', values_to_update={'TR_TABLE_NAME': new_name}, conditions={'SERIAL': serial})

Records updated successfully.
Records updated successfully.
Records updated successfully.
Records updated successfully.
Records updated successfully.
Records updated successfully.
Records updated successfully.
Records updated successfully.

In [55]:
manager.dataframe_query("select * from TEAMS")

,SERIAL,LEAGUE_SERIAL,TEAM_NAME,ODDS_TEAM_NAME,TR_URL_NAME,TR_TABLE_NAME
0,1,1,Arizona Cardinals,Arizona Cardinals,arizona-cardinals,Arizona
1,2,1,Atlanta Falcons,Atlanta Falcons,atlanta-falcons,Atlanta
2,3,1,Baltimore Ravens,Baltimore Ravens,baltimore-ravens,Baltimore
3,4,1,Buffalo Bills,Buffalo Bills,buffalo-bills,Buffalo
4,5,1,Carolina Panthers,Carolina Panthers,carolina-panthers,Carolina
5,6,1,Chicago Bears,Chicago Bears,chicago-bears,Chicago
6,7,1,Cincinnati Bengals,Cincinnati Bengals,cincinnati-bengals,Cincinnati
7,8,1,Cleveland Browns,Cleveland Browns,cleveland-browns,Cleveland
8,9,1,Dallas Cowboys,Dallas Cowboys,dallas-cowboys,Dallas
9,10,1,Denver Broncos,Denver Broncos,denver-broncos,Denver
10,11,1,Detroit Lions,Detroit Lions,detroit-lions,Detroit
11,12,1,Green Bay Packers,Green Bay Packers,green-bay-packers,Green Bay
12,13,1,Houston Texans,Houston Texans,houston-texans,Houston
13,14,1,Indianapolis Colts,Indianapolis Colts,indianapolis-colts,Indianapolis
14,15,1,Jacksonville Jaguars,Jacksonville Jaguars,jacksonville-jaguars,Jacksonville
15,16,1,Kansas City Chiefs,Kansas City Chiefs,kansas-city-chiefs,Kansas City
16,17,1,Miami Dolphins,Miami Dolphins,miami-dolphins,Miami
17,18,1,Las Vegas Raiders,Las Vegas Raiders,las-vegas-raiders,Las Vegas
18,19,1,Los Angeles Chargers,Los Angeles Chargers,los-angeles-chargers,LA Chargers
19,20,1,Los Angeles Rams,Los Angeles Rams,los-angeles-rams,LA Rams
20,21,1,Minnesota Vikings,Minnesota Vikings,minnesota-vikings,Minnesota
21,22,1,New England Patriots,New England Patriots,new-england-patriots,New England
22,23,1,New Orleans Saints,New Orleans Saints,new-orleans-saints,New Orleans
23,24,1,New York Giants,New York Giants,new-york-giants,NY Giants
24,25,1,New York Jets,New York Jets,new-york-jets,NY Jets
25,26,1,Philadelphia Eagles,Philadelphia Eagles,philadelphia-eagles,Philadelphia
26,27,1,Pittsburgh Steelers,Pittsburgh Steelers,pittsburgh-steelers,Pittsburgh
27,28,1,San Francisco 49ers,San Francisco 49ers,san-francisco-49ers,San Francisco
28,29,1,Seattle Seahawks,Seattle Seahawks,seattle-seahawks,Seattle
29,30,1,Tampa Bay Buccaneers,Tampa Bay Buccaneers,tampa-bay-buccaneers,Tampa Bay
30,31,1,Tennessee Titans,Tennessee Titans,tennessee-titans,Tennessee
31,32,1,Washington Commanders,Washington Commanders,washington-commanders,Washington

In [5]:
query_serials = tuple(serials)

query_serials

(17, 18, 19, 20, 22, 23, 24, 25)

In [61]:
games_to_fix = manager.dataframe_query(f"""
    WITH AllGames AS (
        SELECT *
        FROM GAMES AS G
        WHERE G.HOME_TEAM_SERIAL IN {query_serials}

        UNION ALL

        SELECT *
        FROM GAMES AS G
        WHERE G.AWAY_TEAM_SERIAL IN {query_serials}
    )
    SELECT
        GAMES.SERIAL,
        HOME_TEAM.TR_TABLE_NAME AS HOME_TR_TABLE_NAME,
        HOME_TEAM.TEAM_NAME AS HOME_TEAM,
        GAMES.HOME_TEAM_SERIAL,
        AWAY_TEAM.TR_TABLE_NAME AS AWAY_TR_TABLE_NAME,
        AWAY_TEAM.TEAM_NAME AS AWAY_TEAM,
        GAMES.AWAY_TEAM_SERIAL,
        GAMES.GAME_DATE,
        GAME_OUTCOMES.SERIAL AS GO_SERIAL,
        GAME_OUTCOMES.WINNER_TEAM_SERIAL,
        WINNER_TEAM.TR_TABLE_NAME AS WINNER_tr_TEAM,
        WINNER_TEAM.TEAM_NAME AS WINNER_TEAM
    FROM 
        AllGames AS GAMES
        JOIN GAME_OUTCOMES AS GAME_OUTCOMES ON GAMES.SERIAL = GAME_OUTCOMES.GAME_SERIAL
        JOIN TEAMS AS HOME_TEAM ON HOME_TEAM.SERIAL = GAMES.HOME_TEAM_SERIAL
        JOIN TEAMS AS AWAY_TEAM ON AWAY_TEAM.SERIAL = GAMES.AWAY_TEAM_SERIAL
        JOIN TEAMS AS WINNER_TEAM ON WINNER_TEAM.SERIAL = GAME_OUTCOMES.WINNER_TEAM_SERIAL
    ORDER BY 
        GAMES.GAME_DATE
""")

games_to_fix.iloc[15:25,]

,SERIAL,HOME_TR_TABLE_NAME,HOME_TEAM,HOME_TEAM_SERIAL,AWAY_TR_TABLE_NAME,AWAY_TEAM,AWAY_TEAM_SERIAL,GAME_DATE,GO_SERIAL,WINNER_TEAM_SERIAL,WINNER_tr_TEAM,WINNER_TEAM
15,144,Washington,Washington Commanders,32,New England,New England Patriots,22,2024-09-15 00:00:00,144,32,Washington,Washington Commanders
16,111,NY Jets,New York Jets,25,NY Giants,New York Giants,24,2024-09-19 00:00:00,111,25,NY Jets,New York Jets
17,111,NY Jets,New York Jets,25,NY Giants,New York Giants,24,2024-09-19 00:00:00,111,25,NY Jets,New York Jets
18,80,Las Vegas,Las Vegas Raiders,18,Carolina,Carolina Panthers,5,2024-09-22 00:00:00,80,5,Carolina,Carolina Panthers
19,88,LA Rams,Los Angeles Rams,20,San Francisco,San Francisco 49ers,28,2024-09-22 00:00:00,88,20,LA Rams,Los Angeles Rams
20,102,New Orleans,New Orleans Saints,23,Philadelphia,Philadelphia Eagles,26,2024-09-22 00:00:00,102,26,Philadelphia,Philadelphia Eagles
21,36,Cleveland,Cleveland Browns,8,New England,New England Patriots,22,2024-09-22 00:00:00,36,22,New England,New England Patriots
22,119,Pittsburgh,Pittsburgh Steelers,27,Miami,Miami Dolphins,17,2024-09-22 00:00:00,119,27,Pittsburgh,Pittsburgh Steelers
23,129,Seattle,Seattle Seahawks,29,LA Rams,Los Angeles Rams,20,2024-09-22 00:00:00,129,29,Seattle,Seattle Seahawks
24,107,NY Giants,New York Giants,24,Dallas,Dallas Cowboys,9,2024-09-26 00:00:00,107,9,Dallas,Dallas Cowboys

In [60]:
games_df = manager.dataframe_query('select * from GAMES')


games_df[games_df['HOME_TEAM_SERIAL'] == games_df['AWAY_TEAM_SERIAL']]

,SERIAL,HOME_TEAM_SERIAL,AWAY_TEAM_SERIAL,GAME_DATE,LEAGUE_SERIAL
83,84,19,19,2024-09-08 00:00:00,1
91,92,20,20,2024-11-11 00:00:00,1

In [35]:
games_to_fix.iloc[0,:].to_dict()

{'SERIAL': 76,
 'HOME_TR_TABLE_NAME': 'LA Chargers',
 'HOME_TEAM_SERIAL': 17,
 'AWAY_TR_TABLE_NAME': 'Jacksonville',
 'AWAY_TEAM_SERIAL': 15,
 'GAME_DATE': '2024-09-08 00:00:00',
 'GO_SERIAL': 76,
 'WINNER_TEAM_SERIAL': 17,
 'WINNER_TEAM': 'LA Chargers'}

In [45]:
fix_names_ref

{'LA Chargers': 'Miami',
 'LA Rams': 'Las Vegas',
 'Las Vegas': 'LA Chargers',
 'Miami': 'LA Rams',
 'NY Giants': 'New England',
 'NY Jets': 'New Orleans',
 'New England': 'NY Giants',
 'New Orleans': 'NY Jets'}

In [44]:
newname_serials_ref[fix_names_ref['LA Chargers']]

17

In [32]:
test_games_df = copy.deepcopy(games_df)

test_games_df["Day"] = test_games_df['GAME_DATE'].apply(get_day)
test_games_df["Time"] = test_games_df['GAME_DATE'].apply(get_time)

test_games_df

,SERIAL,HOME_TEAM_SERIAL,AWAY_TEAM_SERIAL,GAME_DATE,LEAGUE_SERIAL,UID,Day,Time
0,1,4,1,2024-09-08 00:00:00,1,4 1 2024-09-08 00:00:00,2024-09-08,00:00:00
1,2,4,15,2024-09-23 00:00:00,1,4 15 2024-09-23 00:00:00,2024-09-23,00:00:00
2,3,4,31,2024-10-20 00:00:00,1,4 31 2024-10-20 00:00:00,2024-10-20,00:00:00
3,4,4,20,2024-11-03 00:00:00,1,4 20 2024-11-03 00:00:00,2024-11-03,00:00:00
4,5,1,18,2024-09-15 00:00:00,1,1 18 2024-09-15 00:00:00,2024-09-15,00:00:00
...,...,...,...,...,...,...,...,...
186,187,23,20,2024-12-01 16:05:00,1,23 20 2024-12-01 16:05:00,2024-12-01,16:05:00
187,188,3,26,2024-12-01 16:25:00,1,3 26 2024-12-01 16:25:00,2024-12-01,16:25:00
188,189,4,28,2024-12-01 20:20:00,1,4 28 2024-12-01 20:20:00,2024-12-01,20:20:00
189,190,10,8,2024-12-02 19:15:00,1,10 8 2024-12-02 19:15:00,2024-12-02,19:15:00
190,191,10,8,2024-12-02 20:16:00,1,10 8 2024-12-02 20:16:00,2024-12-02,20:16:00

In [24]:
sample = copy.copy(games_df['UID'][0])

sample[:-9]
sample[:(len(sample) - 9)]

'4 1 2024-09-08'

In [18]:
sample = 4

In [11]:
stored_uids = []

In [47]:
stored_uids

['5 16 2024-11-24 00:00:00',
 '5 16 2024-11-24 00:00:00',
 '5 16 2024-11-24',
 '6 21 2024-11-24',
 '8 27 2024-11-21',
 '9 13 2024-11-18',
 '12 28 2024-11-24',
 '13 31 2024-11-24',
 '14 11 2024-11-24',
 '17 24 2024-11-24',
 '5 16 2024-11-24',
 '6 21 2024-11-24',
 '8 27 2024-11-21',
 '9 13 2024-11-18',
 '12 28 2024-11-24',
 '13 31 2024-11-24',
 '14 11 2024-11-24',
 '17 24 2024-11-24',
 '5 16 2024-11-24',
 '6 21 2024-11-24',
 '8 27 2024-11-21',
 '9 13 2024-11-18',
 '12 28 2024-11-24',
 '13 31 2024-11-24',
 '14 11 2024-11-24',
 '17 24 2024-11-24',
 '18 10 2024-11-24',
 '20 26 2024-11-24',
 '24 30 2024-11-24',
 '29 1 2024-11-24',
 '32 9 2024-11-24']

In [50]:
no_matches: list[str] = []

In [57]:
no_matches

[10    17 24 2024-11-24
 Name: UID, dtype: object,
 '10    17 24 2024-11-24\nName: UID, dtype: object',
 '10    17 24 2024-11-24\nName: UID, dtype: object']

In [56]:
for team, df in game_outcomes_table_data.items():

    # Process each df and add UID
    df = df[['Date', 'home_serial','away_serial','Result','Points','Opp Points']]

    df["Day"] = df['Date'].apply(get_day)
    df["Time"] = df['Date'].apply(get_time)

    df['UID'] = (
        df['home_serial'].astype(str) + ' ' +
        df['away_serial'].astype(str) + ' ' +
        df['Day'].astype(str)
        )
    
    # Join the team df to the current db games data using the UID 
    joined_df = pd.merge(df,games_df, on='UID', how='inner')
    if joined_df.empty:
        no_matches.append(df['UID']))
        continue
    # Identify the winner for each game by team serial
    joined_df['winner_serial'] = joined_df.apply(
        lambda row : row['home_serial'] if row['Result'] == 'W' else row['away_serial'],
        axis= 1
    )
    
    # Drop unecessary data and insert into game outcomes table
    joined_df = joined_df[['SERIAL', 'winner_serial', 'Points', 'Opp Points']]
    
    nfl_data_packer.df_to_db('GAME_OUTCOMES', joined_df, debug=True)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (163, 16, 27, 30)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (164, 21, 27, 30)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (162, 8, 24, 19)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (151, 13, 10, 34)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (172, 12, 38, 10)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (167, 31, 27, 32)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (166, 11, 6, 24)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (170, 10, 19, 29)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (173, 26, 20, 37)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (169, 30, 7, 30)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (171, 29, 16, 6)

insert query: INSERT INTO GAME_OUTCOMES (GAME_SERIAL, WINNER_TEAM_SERIAL, HOME_POINTS, AWAY_POINTS)
        VALUES (?, ?, ?, ?)

          1st record: (165, 9, 26, 34)

In [6]:
nfl_data_packer.games_data_retrieved

True

In [8]:
nfl_data_packer.build_scrapers()

[Team_Games_Scraper(team_name='Arizona Cardinals', tr_url_name='arizona-cardinals'),
 Team_Games_Scraper(team_name='Atlanta Falcons', tr_url_name='atlanta-falcons'),
 Team_Games_Scraper(team_name='Baltimore Ravens', tr_url_name='baltimore-ravens'),
 Team_Games_Scraper(team_name='Buffalo Bills', tr_url_name='buffalo-bills'),
 Team_Games_Scraper(team_name='Carolina Panthers', tr_url_name='carolina-panthers'),
 Team_Games_Scraper(team_name='Chicago Bears', tr_url_name='chicago-bears'),
 Team_Games_Scraper(team_name='Cincinnati Bengals', tr_url_name='cincinnati-bengals'),
 Team_Games_Scraper(team_name='Cleveland Browns', tr_url_name='cleveland-browns'),
 Team_Games_Scraper(team_name='Dallas Cowboys', tr_url_name='dallas-cowboys'),
 Team_Games_Scraper(team_name='Denver Broncos', tr_url_name='denver-broncos'),
 Team_Games_Scraper(team_name='Detroit Lions', tr_url_name='detroit-lions'),
 Team_Games_Scraper(team_name='Green Bay Packers', tr_url_name='green-bay-packers'),
 Team_Games_Scraper(team_name='Houston Texans', tr_url_name='houston-texans'),
 Team_Games_Scraper(team_name='Indianapolis Colts', tr_url_name='indianapolis-colts'),
 Team_Games_Scraper(team_name='Jacksonville Jaguars', tr_url_name='jacksonville-jaguars'),
 Team_Games_Scraper(team_name='Kansas City Chiefs', tr_url_name='kansas-city-chiefs'),
 Team_Games_Scraper(team_name='Miami Dolphins', tr_url_name='miami-dolphins'),
 Team_Games_Scraper(team_name='Las Vegas Raiders', tr_url_name='las-vegas-raiders'),
 Team_Games_Scraper(team_name='Los Angeles Chargers', tr_url_name='los-angeles-chargers'),
 Team_Games_Scraper(team_name='Los Angeles Rams', tr_url_name='los-angeles-rams'),
 Team_Games_Scraper(team_name='Minnesota Vikings', tr_url_name='minnesota-vikings'),
 Team_Games_Scraper(team_name='New England Patriots', tr_url_name='new-england-patriots'),
 Team_Games_Scraper(team_name='New Orleans Saints', tr_url_name='new-orleans-saints'),
 Team_Games_Scraper(team_name='New York Giants', tr_url_name='new-york-giants'),
 Team_Games_Scraper(team_name='New York Jets', tr_url_name='new-york-jets'),
 Team_Games_Scraper(team_name='Philadelphia Eagles', tr_url_name='philadelphia-eagles'),
 Team_Games_Scraper(team_name='Pittsburgh Steelers', tr_url_name='pittsburgh-steelers'),
 Team_Games_Scraper(team_name='San Francisco 49ers', tr_url_name='san-francisco-49ers'),
 Team_Games_Scraper(team_name='Seattle Seahawks', tr_url_name='seattle-seahawks'),
 Team_Games_Scraper(team_name='Tampa Bay Buccaneers', tr_url_name='tampa-bay-buccaneers'),
 Team_Games_Scraper(team_name='Tennessee Titans', tr_url_name='tennessee-titans'),
 Team_Games_Scraper(team_name='Washington Commanders', tr_url_name='washington-commanders')]

In [4]:
nfl_data_packer.get_all_games_data()

ValueError: ('Lengths must match to compare', (6,), (1, 1))

In [12]:
nfl_team_data = pd.read_html(f"https://www.teamrankings.com/nfl/team/washington-commanders/")

In [14]:
nfl_team_data[1]

     Date      Opponent    Result Location  W/L  Div
0   09/08     Tampa Bay   L 20-37     Away  0-1  0-0
1   09/15     NY Giants   W 21-18     Home  1-1  1-0
2   09/23    Cincinnati   W 38-33     Away  2-1  1-0
3   09/29       Arizona   W 42-14     Away  3-1  1-0
4   10/06     Cleveland   W 34-13     Home  4-1  1-0
5   10/13     Baltimore   L 23-30     Away  4-2  1-0
6   10/20      Carolina    W 40-7     Home  5-2  1-0
7   10/27       Chicago   W 18-15     Home  6-2  1-0
8   11/03     NY Giants   W 27-22     Away  7-2  2-0
9   11/10    Pittsburgh   L 27-28     Home  7-3  2-0
10  11/14  Philadelphia   L 18-26     Away  7-4  2-1
11  11/24        Dallas   L 26-34     Home  7-5  2-2
12  12/01     Tennessee   1:00 pm     Home  NaN  NaN
13  12/15   New Orleans   1:00 pm     Away  NaN  NaN
14  12/22  Philadelphia   1:00 pm     Home  NaN  NaN
15  12/29       Atlanta  12:00 pm     Home  NaN  NaN
16  01/05        Dallas  12:00 pm     Away  NaN  NaN

In [11]:
manager.fetch_records("""
                    SELECT MAX(G.GAME_DATE)
                    FROM GAMES AS G JOIN GAME_OUTCOMES AS GO ON G.SERIAL = GO.GAME_SERIAL                      
""", fetchstyle='all')

[('2024-11-18 00:00:00',)]

In [9]:
(nfl_data_packer.all_games_data)

{}

In [4]:
manager.fetch_records("""SELECT MAX(LAST_UPDATED_DATE) FROM DB_UPDATE_RECORDS
                                          WHERE LEAGUE_SERIAL = 1""",fetchstyle='one')[0][0]

'2024-11-25 12:00:00'

In [8]:
from datetime import datetime, timedelta

In [16]:
def is_new_week() -> bool:
    """
    Use datetime to check if the db_last_updated_date is in a previous calendar week.

    Returns:
        bool: True if the most recent Sunday has passed since the last_updated_date, 
              indicating a new calendar week. False otherwise.
    """
    last_updated_date = '2024-11-24 12:00:00'  # The last updated date as a string
    date_format = r"%Y-%m-%d %H:%M:%S"  # The format of the date string (e.g., '%Y-%m-%d')
    
    # Parse the last updated date
    try:
        last_updated = datetime.strptime(last_updated_date, date_format)
    except ValueError as e:
        raise ValueError(f"Invalid date format for last_updated_date: {last_updated_date}. Expected format: {date_format}") from e

    # Calculate today's date
    today = datetime.now()

    # Find the most recent Sunday (relative to today)
    # If today is Sunday, it will return today's date; otherwise, the last Sunday.
    days_since_sunday = today.weekday() + 1  # weekday() returns 0 for Monday, so add 1
    most_recent_sunday = today - timedelta(days=days_since_sunday)

    # Check if the most recent Sunday has passed since the last updated date
    # AND the last updated date is before the most recent Sunday
    return (last_updated < most_recent_sunday)

In [17]:
is_new_week()

True

In [2]:
nfl_data_packer.pack_ppg_oppg()

Records inserted successfully into TEAM_TR_FOOTBALL_PPG
Records inserted successfully into TEAM_TR_FOOTBALL_OPPG

In [2]:
nfl_data_packer.full_odds_run()

Records inserted successfully into GAME_MARKET_ODDS

In [6]:
nfl_data_packer.manager.drop_table("DB_UPDATED")

Table 'DB_UPDATED' deleted successfully.

In [2]:
# create a new table with LAST_UPDATED_DATE and LEAGUE_SERIAL columns called DB_UPDATE_RECORDS
# we need to make sure that last_updated date can be referenced by the league it is pulling for only.

nfl_data_packer.manager.create_table('DB_UPDATE_RECORDS', [
    ('SERIAL', 'INTEGER', 'PRIMARY KEY'),
    ('LAST_UPDATED_DATE', 'TEXT'),
    ('LEAGUE_SERIAL', 'INTEGER', 'REFERENCES LEAGUES(SERIAL)')
])

Table 'DB_UPDATE_RECORDS' created successfully.

In [5]:
manager.insert_table_records('DB_UPDATE_RECORDS', [('2024-11-25 12:00:00','1')])

Records inserted successfully into DB_UPDATE_RECORDS

In [14]:
nfl_data_packer.pack_odds_table(debug=True)

IndexError: list index out of range

### Test others

In [ ]:
# Define the file path and name
file_path = "sample_odds_api_call_11-19-24.json"

# Save the JSON object to a file
# with open(file_path, "w") as json_file:
#     json.dump(odds_json, json_file, indent=4)  # Use indent for pretty formatting

# Open and load the JSON file
with open(file_path, "r") as json_file:
    response_data = json.load(json_file)
markets = nfl_data_packer.get_market_info()
market_dfs = []

for serial, market_name in markets:
    market_dfs.append(nfl_data_packer.parse_market_info(market_name, serial, response_data))
nfl_data_packer.odds_df= pd.concat(market_dfs, axis=0)

nfl_data_packer.odds_df

In [12]:
odds_df = pd.read_csv("odds_df_11-19-24.csv")
odds_df = odds_df.drop(['Unnamed: 0',], axis=1)

In [19]:
nfl_data_packer.odds_df = odds_df

nfl_data_packer.odds_df

,Home_Team,Away_Team,Date,MARKET_SERIAL,H2H_HOME,H2H_AWAY,SPREAD_HOME,TOTAL,home_serial,away_serial
0,Cleveland Browns,Pittsburgh Steelers,2024-11-21 20:15:00,1,2.64,1.51,3.5,36.5,8,27
1,Carolina Panthers,Kansas City Chiefs,2024-11-24 13:00:00,1,5.70,1.15,11.0,42.5,5,16
2,Chicago Bears,Minnesota Vikings,2024-11-24 13:00:00,1,2.45,1.57,3.5,39.5,6,21
3,Washington Commanders,Dallas Cowboys,2024-11-24 13:00:00,1,5.25,1.17,10.5,45.5,32,9
4,Indianapolis Colts,Detroit Lions,2024-11-24 13:00:00,1,1.24,4.30,-7.5,50.5,14,11
5,Houston Texans,Tennessee Titans,2024-11-24 13:00:00,1,1.23,4.40,-8.5,42.0,13,31
6,Miami Dolphins,New England Patriots,2024-11-24 13:00:00,1,1.28,3.85,-7.0,46.0,17,22
7,New York Giants,Tampa Bay Buccaneers,2024-11-24 13:00:00,1,3.15,1.38,5.5,42.0,24,30
8,Las Vegas Raiders,Denver Broncos,2024-11-24 16:05:00,1,1.42,2.95,-5.5,41.0,18,10
9,Seattle Seahawks,Arizona Cardinals,2024-11-24 16:25:00,1,1.93,1.89,1.0,47.5,29,1
10,Green Bay Packers,San Francisco 49ers,2024-11-24 16:25:00,1,1.70,2.20,-2.5,47.5,12,28
11,Los Angeles Rams,Philadelphia Eagles,2024-11-24 20:20:00,1,2.30,1.65,2.5,48.5,20,26
12,Los Angeles Chargers,Baltimore Ravens,2024-11-25 20:15:00,1,1.68,2.24,-3.0,50.0,19,3
13,Detroit Lions,Chicago Bears,2024-11-28 12:30:00,1,5.00,1.19,NaN,48.0,11,6
14,Dallas Cowboys,New York Giants,2024-11-28 16:30:00,1,1.70,2.20,-2.5,39.0,9,24
15,Green Bay Packers,Miami Dolphins,2024-11-28 20:20:00,1,1.54,2.54,-3.5,47.0,12,17
16,Kansas City Chiefs,Las Vegas Raiders,2024-11-29 15:00:00,1,1.16,5.55,-11.5,43.5,16,18
17,Minnesota Vikings,Arizona Cardinals,2024-12-01 13:00:00,1,2.70,1.49,4.0,47.0,21,1
18,Atlanta Falcons,Los Angeles Chargers,2024-12-01 13:00:00,1,2.05,1.80,1.5,46.5,2,19
19,Cincinnati Bengals,Pittsburgh Steelers,2024-12-01 13:00:00,1,1.83,2.00,-1.0,47.0,7,27
20,Jacksonville Jaguars,Houston Texans,2024-12-01 13:00:00,1,1.33,3.45,-6.5,42.5,15,13
21,New England Patriots,Indianapolis Colts,2024-12-01 13:00:00,1,1.74,2.14,-2.5,42.0,22,14
22,New York Jets,Seattle Seahawks,2024-12-01 13:00:00,1,1.80,2.05,-1.5,44.5,25,29
23,Washington Commanders,Tennessee Titans,2024-12-01 13:00:00,1,3.50,1.32,7.0,45.5,32,31
24,Carolina Panthers,Tampa Bay Buccaneers,2024-12-01 16:05:00,1,3.10,1.39,6.0,44.5,5,30
25,New Orleans Saints,Los Angeles Rams,2024-12-01 16:05:00,1,1.80,2.05,-2.0,46.5,23,20
26,Baltimore Ravens,Philadelphia Eagles,2024-12-01 16:25:00,1,1.65,2.30,-3.0,50.0,3,26
27,Buffalo Bills,San Francisco 49ers,2024-12-01 20:20:00,1,1.60,2.40,-3.0,47.5,4,28
28,Denver Broncos,Cleveland Browns,2024-12-02 19:15:00,1,3.50,1.32,7.0,40.0,10,8
29,Cleveland Browns,Pittsburgh Steelers,2024-11-21 20:15:00,2,2.58,1.53,3.5,36.5,8,27
30,Carolina Panthers,Kansas City Chiefs,2024-11-24 13:00:00,2,5.80,1.15,10.5,43.5,5,16
31,Chicago Bears,Minnesota Vikings,2024-11-24 13:00:00,2,2.58,1.53,3.5,39.5,6,21
32,Washington Commanders,Dallas Cowboys,2024-11-24 13:00:00,2,5.10,1.18,10.5,44.5,32,9
33,Indianapolis Colts,Detroit Lions,2024-11-24 13:00:00,2,1.29,3.75,-7.5,50.5,14,11
34,Houston Texans,Tennessee Titans,2024-11-24 13:00:00,2,1.22,4.50,-8.5,41.5,13,31
35,Miami Dolphins,New England Patriots,2024-11-24 13:00:00,2,1.30,3.75,-7.0,45.5,17,22
36,New York Giants,Tampa Bay Buccaneers,2024-11-24 13:00:00,2,3.00,1.41,5.5,41.5,24,30
37,Las Vegas Raiders,Denver Broncos,2024-11-24 16:05:00,2,1.42,2.98,-5.5,41.5,18,10
38,Seattle Seahawks,Arizona Cardinals,2024-11-24 16:25:00,2,1.94,1.91,1.5,47.5,29,1
39,Green Bay Packers,San Francisco 49ers,2024-11-24 16:25:00,2,1.70,2.20,-2.5,47.5,12,28
40,Los Angeles Rams,Philadelphia Eagles,2024-11-24 20:20:00,2,2.26,1.68,2.5,48.5,20,26
41,Los Angeles Chargers,Baltimore Ravens,2024-11-25 20:15:00,2,1.65,2.30,-3.0,49.5,19,3
42,Detroit Lions,Chicago Bears,2024-11-28 12:30:00,2,5.20,1.18,10.5,47.5,11,6
43,Dallas Cowboys,New York Giants,2024-11-28 16:30:00,2,1.69,2.22,-2.5,38.5,9,24
44,Green Bay Packers,Miami Dolphins,2024-11-28 20:20:00,2,1.51,2.64,-3.5,47.5,12,17
45,Kansas City Chiefs,Las Vegas Raiders,2024-11-29 15:00:00,2,1.14,6.20,-11.5,43.5,16,18
46,Minnesota Vikings,Arizona Cardinals,2024-12-01 13:00:00,2,2.60,1.53,3.5,46.5,21,1
47,Atlanta Falcons,Los Angeles Chargers,2024-12-01 13:00:00,2,2.08,1.79,1.5,46.5,2,19
48,Cincinnati Bengals,Pittsburgh Steelers,2024-12-01 13:00:00,2,1.86,1.98,-1.5,47.5,7,27
49,Jacksonville Jaguars,Houston Texans,2024-12-01 13:00:00,2,1.30,3.65,-6.5,42.5,15,13
50,New England Patriots,Indianapolis Colts,2024-12-01 13:00:00,2,1.70,2.20,-2.5,43.5,22,14
51,New York Jets,Seattle Seahawks,2024-12-01 13:00:00,2,1.93,1.93,1.5,43.5,25,29
52,Washington Commanders,Tennessee Titans,2024-12-01 13:00:00,2,3.90,1.28,7.5,44.5,32,31
53,Carolina Panthers,Tampa Bay Buccaneers,2024-12-01 16:05:00,2,3.50,1.32,6.5,43.5,5,30
54,New Orleans Saints,Los Angeles Rams,2024-12-01 16:05:00,2,1.74,2.16,-2.5,46.5,23,20
55,Baltimore Ravens,Philadelphia Eagles,2024-12-01 16:25:00,2,1.66,2.28,-3.0,50.5,3,26
56,Buffalo Bills,San Francisco 49ers,2024-12-01 20:20:00,2,1.56,2.52,-3.5,47.5,4,28
57,Denver Broncos,Cleveland Browns,2024-12-02 19:15:00,2,3.65,1.31,6.5,40.5,10,8

In [25]:
future_games = nfl_data_packer.populate_future_game_data()

future_games = future_games[['home_serial', 'away_serial', 'Date', 'league_serial']]

future_games

c:\Users\taylor.mccoy\OneDrive\Documents\Coding\Sports Data\data_packers.py:208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmade_games['league_serial'] = self.league_serial

    home_serial  away_serial                 Date  league_serial
0             8           27  2024-11-21 20:15:00              1
1             5           16  2024-11-24 13:00:00              1
2             6           21  2024-11-24 13:00:00              1
3            32            9  2024-11-24 13:00:00              1
4            14           11  2024-11-24 13:00:00              1
5            13           31  2024-11-24 13:00:00              1
6            17           22  2024-11-24 13:00:00              1
7            24           30  2024-11-24 13:00:00              1
8            18           10  2024-11-24 16:05:00              1
9            29            1  2024-11-24 16:25:00              1
10           12           28  2024-11-24 16:25:00              1
11           20           26  2024-11-24 20:20:00              1
12           19            3  2024-11-25 20:15:00              1
13           11            6  2024-11-28 12:30:00              1
14            9           24  2024-11-28 16:30:00              1
15           12           17  2024-11-28 20:20:00              1
16           16           18  2024-11-29 15:00:00              1
17           21            1  2024-12-01 13:00:00              1
18            2           19  2024-12-01 13:00:00              1
19            7           27  2024-12-01 13:00:00              1
20           15           13  2024-12-01 13:00:00              1
21           22           14  2024-12-01 13:00:00              1
22           25           29  2024-12-01 13:00:00              1
23           32           31  2024-12-01 13:00:00              1
24            5           30  2024-12-01 16:05:00              1
25           23           20  2024-12-01 16:05:00              1
26            3           26  2024-12-01 16:25:00              1
27            4           28  2024-12-01 20:20:00              1
28           10            8  2024-12-02 19:15:00              1

In [26]:
nfl_data_packer.df_to_db('GAMES',future_games)

Records inserted successfully into GAMES

In [27]:
nfl_data_packer._combine_odds_api_and_games_dfs()

nfl_data_packer.combined_market_odds_df

    SERIAL  MARKET_SERIAL  SPREAD_HOME  TOTAL  H2H_HOME  H2H_AWAY
0      162              1          3.5   36.5      2.64      1.51
1      163              1         11.0   42.5      5.70      1.15
2      164              1          3.5   39.5      2.45      1.57
3      165              1         10.5   45.5      5.25      1.17
4      166              1         -7.5   50.5      1.24      4.30
5      167              1         -8.5   42.0      1.23      4.40
6      168              1         -7.0   46.0      1.28      3.85
7      169              1          5.5   42.0      3.15      1.38
8      170              1         -5.5   41.0      1.42      2.95
9      171              1          1.0   47.5      1.93      1.89
10     172              1         -2.5   47.5      1.70      2.20
11     173              1          2.5   48.5      2.30      1.65
12     174              1         -3.0   50.0      1.68      2.24
13     175              1          NaN   48.0      5.00      1.19
14     176              1         -2.5   39.0      1.70      2.20
15     177              1         -3.5   47.0      1.54      2.54
16     178              1        -11.5   43.5      1.16      5.55
17     179              1          4.0   47.0      2.70      1.49
18     180              1          1.5   46.5      2.05      1.80
19     181              1         -1.0   47.0      1.83      2.00
20     182              1         -6.5   42.5      1.33      3.45
21     183              1         -2.5   42.0      1.74      2.14
22     184              1         -1.5   44.5      1.80      2.05
23     185              1          7.0   45.5      3.50      1.32
24     186              1          6.0   44.5      3.10      1.39
25     187              1         -2.0   46.5      1.80      2.05
26     188              1         -3.0   50.0      1.65      2.30
27     189              1         -3.0   47.5      1.60      2.40
28     190              1          7.0   40.0      3.50      1.32
29     162              2          3.5   36.5      2.58      1.53
30     163              2         10.5   43.5      5.80      1.15
31     164              2          3.5   39.5      2.58      1.53
32     165              2         10.5   44.5      5.10      1.18
33     166              2         -7.5   50.5      1.29      3.75
34     167              2         -8.5   41.5      1.22      4.50
35     168              2         -7.0   45.5      1.30      3.75
36     169              2          5.5   41.5      3.00      1.41
37     170              2         -5.5   41.5      1.42      2.98
38     171              2          1.5   47.5      1.94      1.91
39     172              2         -2.5   47.5      1.70      2.20
40     173              2          2.5   48.5      2.26      1.68
41     174              2         -3.0   49.5      1.65      2.30
42     175              2         10.5   47.5      5.20      1.18
43     176              2         -2.5   38.5      1.69      2.22
44     177              2         -3.5   47.5      1.51      2.64
45     178              2        -11.5   43.5      1.14      6.20
46     179              2          3.5   46.5      2.60      1.53
47     180              2          1.5   46.5      2.08      1.79
48     181              2         -1.5   47.5      1.86      1.98
49     182              2         -6.5   42.5      1.30      3.65
50     183              2         -2.5   43.5      1.70      2.20
51     184              2          1.5   43.5      1.93      1.93
52     185              2          7.5   44.5      3.90      1.28
53     186              2          6.5   43.5      3.50      1.32
54     187              2         -2.5   46.5      1.74      2.16
55     188              2         -3.0   50.5      1.66      2.28
56     189              2         -3.5   47.5      1.56      2.52
57     190              2          6.5   40.5      3.65      1.31

In [28]:
nfl_data_packer.df_to_db('GAME_MARKET_ODDS', nfl_data_packer.combined_market_odds_df)

Records inserted successfully into GAME_MARKET_ODDS

In [11]:
game_serials = nfl_data_packer.combined_market_odds_df.SERIAL.unique()

combined_existing_game_data = nfl_data_packer.manager.dataframe_query(f"""SELECT * FROM GAME_MARKET_ODDS 
                                        WHERE GAME_SERIAL IN 
                                        {tuple(str(serial) for serial in game_serials)}""")
combined_existing_game_data.head()

,SERIAL,GAME_SERIAL,MARKET_SERIAL,SPREAD,TOTAL,H2H_HOME,H2H_AWAY,UPDATED_DATE
0,1,162,1,3.5,36.5,2.64,1.51,2024-11-20 02:55:04
1,2,163,1,11.0,42.5,5.70,1.15,2024-11-20 02:55:04
2,3,164,1,3.5,39.5,2.45,1.57,2024-11-20 02:55:04
3,4,165,1,10.5,45.5,5.25,1.17,2024-11-20 02:55:04
4,5,166,1,-7.5,50.5,1.24,4.30,2024-11-20 02:55:04

In [12]:
import copy

api_data = copy.deepcopy(nfl_data_packer.combined_market_odds_df)

In [29]:
combined_existing_game_data.head()

,SERIAL,GAME_SERIAL,MARKET_SERIAL,SPREAD,TOTAL,H2H_HOME,H2H_AWAY,UPDATED_DATE
0,1,162,1,3.5,28.5,2.64,1.51,2024-11-20 02:55:04
1,2,163,1,11.0,42.5,5.70,1.15,2024-11-20 02:55:04
2,3,164,1,3.5,39.5,2.45,1.57,2024-11-20 02:55:04
3,4,165,1,10.5,45.5,5.25,1.17,2024-11-20 02:55:04
4,5,166,1,-7.5,50.5,1.24,4.30,2024-11-20 02:55:04

In [28]:
combined_existing_game_data.iloc[0,4] = 28.5

In [31]:
# Function to compare row values
def has_changes(api_row, existing_row):
    return (
        api_row['SPREAD_HOME'] != existing_row.SPREAD or
        api_row['TOTAL'] != existing_row.TOTAL or
        api_row['H2H_HOME'] != existing_row.H2H_HOME or
        api_row['H2H_AWAY'] != existing_row.H2H_AWAY
    )

changed_rows = []
# for each existing row look for a matching api row and then append to new df
for row in combined_existing_game_data.itertuples():
    
    # Find matching rows in api_data
    api_data_match = api_data.loc[
        (api_data['SERIAL'] == int(row.GAME_SERIAL)) &
        (api_data['MARKET_SERIAL'] == int(row.MARKET_SERIAL))
    ]
    
    if api_data_match.empty:
        continue  # Skip if no match found
    
    # Handle single or multiple matches
    for _, api_row in api_data_match.iterrows():
        if has_changes(api_row, row):
            # Append tuple or other logic for changed rows
            changed_rows.append({
                'GAME_SERIAL': row.GAME_SERIAL,
                'MARKET_SERIAL': row.MARKET_SERIAL,
                'SPREAD_HOME': api_row['SPREAD_HOME'],
                'TOTAL': api_row['TOTAL'],
                'H2H_HOME': api_row['H2H_HOME'],
                'H2H_AWAY': api_row['H2H_AWAY']
            })

# Create DataFrame for new entries
new_entries = pd.DataFrame(changed_rows)
new_entries

   GAME_SERIAL  MARKET_SERIAL  SPREAD_HOME  TOTAL  H2H_HOME  H2H_AWAY
0          162              1          3.5   36.5      2.64      1.51

In [34]:
games_no_odds = manager.dataframe_query("""
                        SELECT 
                            G.GAME_DATE AS GAME_DATE, 
                            G.SERIAL AS GAME_SERIAL
                        FROM 
                            GAMES AS G
                        WHERE 
                            NOT EXISTS (
                                SELECT 1
                                FROM GAME_MARKET_ODDS AS GMO
                                WHERE GMO.GAME_SERIAL = G.SERIAL
                            )
                        """)

games_no_odds

               GAME_DATE  GAME_SERIAL
0    2024-09-08 00:00:00            1
1    2024-09-23 00:00:00            2
2    2024-10-20 00:00:00            3
3    2024-11-03 00:00:00            4
4    2024-09-15 00:00:00            5
..                   ...          ...
156  2024-11-17 00:00:00          157
157  2024-11-17 00:00:00          158
158  2024-11-17 00:00:00          159
159  2024-11-17 00:00:00          160
160  2024-11-17 00:00:00          161

[161 rows x 2 columns]

In [33]:
most_recent_game_date_has_odds = manager.fetch_records("""
                        SELECT 
                            G.GAME_DATE AS GAME_DATE
                        FROM 
                            GAMES AS G JOIN GAME_MARKET_ODDS AS GMO ON G.SERIAL = GMO.GAME_SERIAL
                        WHERE 
                            G.GAME_DATE = (SELECT MAX(GAME_DATE) FROM GAMES)
                        """, fetchstyle='one')[0][0]

most_recent_game_date_odds_pulled

'2024-12-02 19:15:00'

In [38]:
odds_to_add = games_no_odds[(games_no_odds['GAME_DATE'] > most_recent_game_date_odds_pulled)]
odds_to_add

Empty DataFrame
Columns: [GAME_DATE, GAME_SERIAL]
Index: []

In [27]:
nfl_data_packer.df_to_db('GAME_MARKET_ODDS', nfl_data_packer.combined_market_odds_df)

Records inserted successfully into GAME_MARKET_ODDS

In [3]:
nfl_data_packer.show_api_requests_used()

You have used 57 calls and have 443 remaining.

In [6]:
nfl_data_packer.pack_odds_df() # fix by adding home/away serial redoing df struct

ValueError: Number of columns in table and length of the first record tuple do not match

In [7]:
nfl_data_packer.populate_future_game_data()

Records inserted successfully into GAMES

In [10]:
import copy

changed_odds_check: pd.DataFrame = copy.deepcopy(nfl_data_packer.odds_df)

changed_odds_check['home_serial'] = changed_odds_check['Home_Team'].apply(nfl_data_packer.get_team_serial)
changed_odds_check['away_serial'] = changed_odds_check['Away_Team'].apply(nfl_data_packer.get_team_serial)

changed_odds_check['UID'] = changed_odds_check['UID'] = (
    changed_odds_check['home_serial'].astype(str) + ' ' +
    changed_odds_check['away_serial'].astype(str) + ' ' +
    changed_odds_check['Date'].astype(str)
)

games_df = nfl_data_packer.manager.dataframe_query('select * from GAMES')
games_df['UID'] = games_df['UID'] = (
    games_df['HOME_TEAM_SERIAL'].astype(str) + ' ' +
    games_df['AWAY_TEAM_SERIAL'].astype(str) + ' ' +
    games_df['GAME_DATE'].astype(str)
)

# Join the team df to the current db games data using the UID 
joined_df = pd.merge(changed_odds_check,games_df, on='UID', how='inner')

In [20]:
print(len(changed_odds_check))

26

In [21]:
print(len(joined_df.drop_duplicates(subset=['UID','MARKET_SERIAL'])))

26

In [8]:
nfl_data_packer.get_changed_market_odds()

KeyError: "['SERIAL'] not in index"

In [2]:
nfl_data_packer.db_last_updated_date

'2024-11-14 01:00:00'

In [3]:
nfl_data_packer.get_all_games_data()

In [4]:
data = nfl_data_packer.all_games_data

In [5]:
for df in data.values():
    print(df['Date'])

10    2024-11-17 00:00:00
Name: Date, dtype: object
9    2024-11-17 00:00:00
Name: Date, dtype: object
9    2024-11-18 00:00:00
Name: Date, dtype: object
10    2024-11-17 00:00:00
Name: Date, dtype: object
9    2024-11-17 00:00:00
Name: Date, dtype: object
9    2024-11-17 00:00:00
Name: Date, dtype: object
9    2024-11-17 00:00:00
Name: Date, dtype: object
10    2024-11-17 00:00:00
Name: Date, dtype: object
10    2024-11-17 00:00:00
Name: Date, dtype: object
10    2024-11-17 00:00:00
Name: Date, dtype: object
9    2024-11-17 00:00:00
Name: Date, dtype: object
9    2024-11-17 00:00:00
Name: Date, dtype: object
9    2024-11-17 00:00:00
Name: Date, dtype: object

In [6]:
data.keys()

dict_keys(['Buffalo Bills', 'Chicago Bears', 'Dallas Cowboys', 'Denver Broncos', 'Detroit Lions', 'Miami Dolphins', 'Los Angeles Chargers', 'New England Patriots', 'New Orleans Saints', 'New York Jets', 'Pittsburgh Steelers', 'San Francisco 49ers', 'Tennessee Titans'])

In [7]:
# nfl_data_packer.pack_games_data()

Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES
Records inserted successfully into GAMES

In [8]:
# nfl_data_packer.pack_game_outcomes_data()

Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES
Records inserted successfully into GAME_OUTCOMES

c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (
c:\Users\taylor.mccoy\OneDrive\Documents\Coding\general_use_venv\Restricted\Sports Data\data_packers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UID'] = (

In [7]:
# test pack oppg pgg

nfl_data_packer.pack_ppg_oppg()

Records inserted successfully into TEAM_TR_FOOTBALL_PPG
Records inserted successfully into TEAM_TR_FOOTBALL_OPPG

In [6]:
manager.insert_table_records('MARKETS',[('DraftKings',),('FanDuel',)])

Records inserted successfully into MARKETS

In [13]:
manager.check_table_info('OWN_PPG_STATS')

[(0, 'SERIAL', 'INTEGER', 0, None, 1, 0), (1, 'TEAM_SERIAL', 'INTEGER', 0, None, 0, 0), (2, 'RANK', 'INTEGER', 0, None, 0, 0), (3, 'THIS_YEAR_PPG', 'INTEGER', 0, None, 0, 0), (4, 'LAST_3', 'INTEGER', 0, None, 0, 0), (5, 'LAST_1', 'INTEGER', 0, None, 0, 0), (6, 'HOME', 'INTEGER', 0, None, 0, 0), (7, 'AWAY', 'INTEGER', 0, None, 0, 0), (8, 'LAST_YEAR_PPG', 'INTEGER', 0, None, 0, 0), (9, 'UPDATED_DATE', 'TIMESTAMP', 0, 'CURRENT_TIMESTAMP', 0, 0)]

In [15]:
manager.create_table('OPPG',[
    ('SERIAL', 'INTEGER', 'PRIMARY KEY'),
    ('TEAM_SERIAL', 'INTEGER', 'NOT NULL REFERENCES TEAMS(SERIAL)'),  # Foreign key, not nullable
    ('RANK', 'INTEGER'),
    ('THIS_YEAR_PPG', 'INTEGER'),
    ('LAST_3', 'INTEGER'),
    ('LAST_1', 'INTEGER'),
    ('HOME', 'INTEGER'),
    ('AWAY', 'INTEGER'),
    ('LAST_YEAR_PPG', 'INTEGER'),
    ('UPDATED_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP')
])

Table 'OPPG' created successfully.

In [17]:
manager.drop_table('OWN_PPG_STATS')
manager.drop_table('OPPONENT_PPG_STATS')

Table 'OWN_PPG_STATS' deleted successfully.
Table 'OPPONENT_PPG_STATS' deleted successfully.

In [18]:
manager.alter_table('OPPG', operation='rename_table', new_name='TEAM_TR_FOOTBALL_OPPG')
manager.alter_table('PPG', operation='rename_table', new_name='TEAM_TR_FOOTBALL_PPG')

Table 'OPPG' altered successfully with operation 'rename_table'.
Table 'PPG' altered successfully with operation 'rename_table'.

In [3]:
# test odds api call

nfl_data_packer.get_odds_df()
nfl_data_packer.odds_df

,Home_Team,Away_Team,Date,DK_H2H_HOME,DK_H2H_AWAY,DK_SPREAD_HOME,DK_TOTAL,FD_H2H_HOME,FD_H2H_AWAY,FD_SPREAD_HOME,FD_TOTAL
0,Carolina Panthers,New York Giants,2024-11-10T14:30:00Z,3.30,1.35,6.5,40.5,3.20,1.37,6.5,40.5
1,New Orleans Saints,Atlanta Falcons,2024-11-10T18:00:00Z,1.54,2.54,-3.5,46.0,1.51,2.64,-3.5,46.5
2,Indianapolis Colts,Buffalo Bills,2024-11-10T18:00:00Z,1.51,2.64,-4.0,46.5,1.48,2.76,-3.5,46.5
3,Chicago Bears,New England Patriots,2024-11-10T18:00:00Z,1.35,3.30,-6.0,38.5,1.36,3.25,-6.5,38.5
4,Kansas City Chiefs,Denver Broncos,2024-11-10T18:00:00Z,4.00,1.26,7.5,42.0,4.15,1.25,7.5,41.5
5,Jacksonville Jaguars,Minnesota Vikings,2024-11-10T18:00:00Z,3.50,1.32,6.5,43.0,3.45,1.33,6.5,43.5
6,Washington Commanders,Pittsburgh Steelers,2024-11-10T18:00:00Z,2.24,1.68,3.0,45.0,2.26,1.68,2.5,44.5
7,Tampa Bay Buccaneers,San Francisco 49ers,2024-11-10T18:00:00Z,1.34,3.35,-6.5,50.0,1.36,3.30,-6.5,50.5
8,Los Angeles Chargers,Tennessee Titans,2024-11-10T21:05:00Z,1.31,3.60,-7.0,39.0,1.29,3.75,-7.5,38.5
9,Arizona Cardinals,New York Jets,2024-11-10T21:25:00Z,2.10,1.77,2.0,46.5,2.08,1.79,1.5,46.5
10,Dallas Cowboys,Philadelphia Eagles,2024-11-10T21:25:00Z,3.85,1.28,7.5,43.5,3.95,1.27,7.0,43.5
11,Houston Texans,Detroit Lions,2024-11-11T01:20:00Z,1.52,2.60,-3.5,49.0,1.53,2.60,-3.5,48.5
12,Los Angeles Rams,Miami Dolphins,2024-11-12T01:15:00Z,1.83,2.00,-1.0,50.5,1.86,1.96,-1.5,50.5
13,Philadelphia Eagles,Washington Commanders,2024-11-15T01:15:00Z,1.59,2.42,-3.0,49.0,1.60,2.40,-3.0,49.5
14,Detroit Lions,Jacksonville Jaguars,2024-11-17T18:00:00Z,1.17,5.40,-10.5,51.0,NaN,NaN,NaN,NaN
15,Chicago Bears,Green Bay Packers,2024-11-17T18:01:00Z,NaN,NaN,NaN,NaN,2.38,1.61,3.0,44.5
16,New Orleans Saints,Cleveland Browns,2024-11-17T18:01:00Z,2.10,1.77,2.0,42.5,1.96,1.89,1.5,43.5
17,New York Jets,Indianapolis Colts,2024-11-17T18:01:00Z,2.70,1.49,4.5,43.0,2.66,1.51,3.5,43.5
18,Miami Dolphins,Las Vegas Raiders,2024-11-17T18:01:00Z,3.75,1.29,7.0,46.0,4.00,1.27,7.0,44.5
19,New England Patriots,Los Angeles Rams,2024-11-17T18:01:00Z,1.39,3.10,-6.0,43.5,1.32,3.50,-6.5,44.5
20,Tennessee Titans,Minnesota Vikings,2024-11-17T18:01:00Z,1.40,3.05,-6.0,42.0,1.34,3.35,-6.5,41.5
21,Denver Broncos,Atlanta Falcons,2024-11-17T21:06:00Z,1.91,1.91,-1.0,43.5,1.85,2.00,-1.5,43.5
22,San Francisco 49ers,Seattle Seahawks,2024-11-17T21:06:00Z,1.29,3.70,-7.0,49.0,1.30,3.65,-6.5,49.5
23,Buffalo Bills,Kansas City Chiefs,2024-11-17T21:26:00Z,1.98,1.85,1.0,47.0,1.93,1.93,1.5,46.5
24,Dallas Cowboys,Houston Texans,2024-11-19T01:16:00Z,3.20,1.37,6.5,43.0,3.30,1.36,6.5,42.5

In [36]:
def cigar_party(cigars, is_weekend = False):
  if is_weekend:
    return (cigars >= 40)
  else:
    return (cigars >= 40 and cigars <= 60)

cigar_party(45)

True

In [1]:
[x for x in range(0,121) if (x % 10 >= 8 or x % 10 <= 2)]

[0,
 1,
 2,
 8,
 9,
 10,
 11,
 12,
 18,
 19,
 20,
 21,
 22,
 28,
 29,
 30,
 31,
 32,
 38,
 39,
 40,
 41,
 42,
 48,
 49,
 50,
 51,
 52,
 58,
 59,
 60,
 61,
 62,
 68,
 69,
 70,
 71,
 72,
 78,
 79,
 80,
 81,
 82,
 88,
 89,
 90,
 91,
 92,
 98,
 99,
 100,
 101,
 102,
 108,
 109,
 110,
 111,
 112,
 118,
 119,
 120]

In [33]:
near_ten(118)

True